*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: #F44336;
    margin-left:auto;
    margin-right:auto;
}


#third{
    width: 30%;
    float:left;
    min-height: 700px;
    margin:25px;
    border:solid 5px #007acc;
}

.card {
    margin:25px;
}

span{
    color:#007acc;
    float: right;
    font-weight:bold;
}

h2{
    text-align: center;
    color:#007acc;
}

h3{
    display: inline-block;
}

p{
    font-weight:bold;
    margin:20px;
    margin-right: 35px;
}

ul{
    list-style-type: none;
}

li{
    margin-top: 5px;
}

li:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: #007acc;
}

#GLASS:before{
    background-color: lightskyblue;
}

#FUR:before{
    background-color: #cd7f10;
}

#WOOD:before{
    background-color: #29cd30;
}

#SUGAR_CANE:before{
    background-color: #fffa7c;
}

#PLANK:before{
    background-color:#cd5133;
}

#LEATHER:before{
    background-color: #723b45;
}

#RUM:before{
    background-color: chartreuse;
}

#FLOWER:before{
    background-color: #f687ad;
}

#FISH:before{
    background-color: #6364f6;
}

#ORE:before{
    background-color: #e13e31;
}

#QUARTZ:before{
    background-color: #959595;
}

#INGOT:before{
    background-color: #f6ee18;
}

#FRUITS:before{
    background-color:#ff931f ;
}





